@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: "M PLUS 2";
    src: url("/fonts/MPLUS2-VariableFont_wght.woff2");
    font-display: swap;
}


:root [data-theme="crimson"] {
    --theme-font-family-base: "M PLUS 2", sans-serif;
    --theme-font-family-heading: "M PLUS 2", sans-serif;
}